* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

hr {
    border-top: 1px solid lightgray;
}

h3 {
    margin: 0;
}

/* Topmenu layout */

.Logo img {
    display: block;
    margin: auto;
    width: 5em;
    padding: 25px 0;
}

.TopMenu {
    width:40%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.TopMenu a {
    color: black;
}

/* Middle container layout */

.Main {
    padding-bottom: 50px;
}

.MainContainer {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
} 

.MainContainer-title {
    border-top: 1px solid rgb(44, 125, 201);
    border-length: 15px;
    margin: auto;
    width: 60%;
}

.MainContainer-right {
    padding-left: 30px;
}

.MainContainer-text {
    line-height: 23px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

/* Blue bar above the footer  */

.SubscribeNow-title p {
    width: 50%;
    text-align: center;
}

.BlueBar {
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: rgb(44, 125, 201);
}

.SubscribeNow-content p {
    margin: auto;
    width: 30%;
    text-align: center;
    padding-top: 15px;
    line-height: 20px;
    font-size: 12px;
    color: white;
}

.SubscribeNow-content h2 {
    border-width: 20px;
    padding-top: 50px;
    font-size: 18px;
    color: white;
}

.SubscribeNow-input {
    padding-top: 25px;
    padding-bottom: 50px;
}

.SubscribeNow-input input {
    width: 16%;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgb(44, 125, 201);
}

::placeholder {
    color: white;
    text-align: left;
}

.SubscribeNow-input button {
    margin-left: 25px;
    color: rgb(44, 125, 201);;
    border-radius: 3px;
    width: 200px;
    padding: 10px;
    border: none;
    background-color: white;
}

/* Footer layout  */

.Footer {
    width: 70%;
    margin: auto;
    text-align: center;
}
.Footer-logo img {
    display: block;
    margin: auto;
    width: 5em;
    padding: 25px 0;
}

.Footer-menu a {
    font-size: 12px;
    color: gray;
}

.Footer-menu,
.Footer-socialButtons {
    width:40%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Footer-socialButtons {
   padding: 25px;
}