.Main {
    padding-bottom: 50px;
}

.MainContainer {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
} 

.MainContainer-title {
    margin: auto;
    width: 60%;
}

.MainContainer-title::before {
    position: relative;
    top: 17px;
    left: -49%;
    display: block;
    content: '';
    border-bottom: 4px solid rgb(44, 125, 201);
    width: 25px;
    margin: auto;
}

.MainContainer-right {
    margin-left: 20px;
}

.MainContainer-text {
    line-height: 23px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
/* Styling form */

button {
    background-color: rgb(44, 125, 201);;
    border-radius: 3px;
    width: 130px;
    padding: 10px;
    border: none;
    color: lightgray;
}

.TopInputFields input {
    border: 1px solid lightgrey;
    margin-bottom: 20px;
    padding: 15px;
    width: 53%;
}

.TopInputFields {
    display: flex;
    justify-content: space-between;
}

.EmailInputField input {
    border: 1px solid lightgrey;
    width: 100%;
}

.BottomInputFields textarea, input {
    border: 1px solid lightgrey;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.MainContainer-social {
    display: flex;
}


/* Responsive design  */

/* 900px */

@media screen and (max-width:900px) {
    .MainContainer-left img{
        width: 400px;
    }

    .Main {
        margin: auto;
        width: 90%;
    }
    .MainContainer,
    .MainContainer-title {
        width: 100%;
    }

}

/* 450px  */

@media screen and (max-width:450px) {
    .MainContainer {
        display: block;
    }

    .TopInputFields {
        margin: auto;
        display: block;
    }

    .TopInputFields input {
        width: 100%;
    }

    .MainContainer-right {
        margin-left: 0;
    }

    .MainContainer-left {
        margin-bottom: 20px;
    }
   
}