.TopBarBanner {
    display: block;
    margin: auto;
    width: 80%;
    height: 600px;
}

.TopBarInnerContent {
    position: relative;
    margin: -400px 200px;
    padding: 20px;
    width: 30em;
    background-color: hsl(0, 0%, 87%, 0.9);
}

.TopBarInnerContent h2::after {
    position: relative;
    top: 8px;
    left: -47%;
    display: block;
    content: '';
    border-bottom: 4px solid rgb(44, 125, 201);
    width: 25px;
    margin: auto;
}

button {
    background-color: rgb(44, 125, 201);;
    border-radius: 3px;
    width: 130px;
    padding: 10px;
    border: none;
    color: lightgray;
}

.Cards {
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.CardsContent {
    margin: 10px;
    padding: 30px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
}

.CardsContent img {
    width: 13em;
    height: 12em;
}

.CardsContent p {
    margin: 0;
    font-weight: 700;
    color: rgb(44, 125, 201);
}

.CardsContent h4 {
    margin-bottom: 10px;
}