.MainContainer {
    width: 60%;
    margin: auto;
    display: flex;
}

.MainContainer-text,
.MainContainer-social {
    padding: 0 30px;
}

.MainContainer-left {
    padding: 20px;
    border: 1px solid lightgray;
}

.MainContainer-left img {
    width: 500px;
}

.MainContainer-text h4 {
    color: rgb(44, 125, 201);
}

.Thumbnails {
    display: flex;
    justify-content: space-evenly;
}

.Thumbnails img {
    padding: 10px;
    width: 33%;
}

.Cards {
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.CardsContent {
    margin: 10px;
    padding: 30px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
}

.CardsContent img {
    width: 13em;
    height: 12em;
}

.CardsContent p {
    margin: 0;
    font-weight: 700;
    color: rgb(44, 125, 201);
}

.CardsContent h4 {
    margin-bottom: 10px;
}

.Carrousel {
    padding-top: 50px;
}

.OrderTop,
.OrderBottom {
    display: flex;
    align-items: center;
}

.Quantity {
    border: 1px solid lightgrey;
    padding: 15px 20px;
    margin: 15px;
}

.OrderBottom h6 {
    margin-left: 25px;
    color: lightgrey;
}
    
button {
    background-color: rgb(44, 125, 201);
    font-size: 15px;
    border-radius: 3px;
    width: 130px;
    padding: 15px;
    border: none;
    color: lightgray;
}

.BottomButtons {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between; 
}

.SmallButtons {
    display: flex;
    margin: 20px auto;
}

.SmallButtons p {
    padding: 5px;
    border: 1px solid lightgrey;
    margin: 10px;
}

.Active-smallButton {
    color: white;
    background-color: rgb(44, 125, 201);
}

.NonActive-smallButton {
    background-color: lightgrey;
}

.NoDisplayButton {
    display: none;
}

/* Responsive design  */

/* 900px */

@media screen and (max-width:900px) {
    .MainContainer-left img{
        width: 400px;
    }

    .Main {
        margin: auto;
        width: 100%;
    }
    .MainContainer,
    .MainContainer-left,
    .MainContainer-right {
        width: 90%;
    }

    .MediumDisplay{
        margin: auto;
        width: 90%;
    }

    .NoDisplayThumbnail {
        display: none;
    }

    .NoDisplayButton {
        display: block;
    }

    .Cards {
        margin: auto;
        width: 90%;
        justify-content: unset;
    }

    .CardsContent img {
        width: 18em;
        height: 17em;
    }

    .CardsNoDisplay {
        display: none;
    }

    .Thumbnails img{
        width: 50%;
    }
}

/* 450px */

@media screen and (max-width:450px) {
    .MainContainer{ 
        margin: auto;
        display: block;
        width: 100%;
    }

    .MainContainer-left {
        margin: 20px auto;

    }

    .MainContainer-right {
        width: 100%;
    }

    .MainContainer-left img{
        width: 100%;
    }

    .Cards {
        display: block;
        width: 90%;
    }

    .CardsContent img {
        width: 100%;
    }

    .Small {
        display: none;
    }

    .NoDisplayButtonSmall {
        display: block;
    }

    .MainContainer-title {
        margin-top: 25px;
    }

}
